body,
html {
    height: 100%;
}

.heading {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    background-position: center;
    margin: 0;
    height: 90%;

}

.title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.title p {
    margin-bottom: 40px;
}

.button {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(214, 61, 34);
    padding: 20px;
    border-radius: 4px;
}

.donate-now {
    text-align: center;
    width: 50%;
    margin: 40px auto;

}

.amounts {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.amount {
    width: 12%;
    border: 1px solid rgb(214, 213, 213);
    background-color: rgb(232, 240, 240);
    margin: 10px;
    border-radius: 5px;
    padding: 10px 0;
}
#selected{
    background-color: #ff480080;
    border: 2px solid orangered;
    color: rgb(145, 45, 9);
    text-align: center;
}

.amount h3 {
    text-align: center;
    color: rgb(56, 56, 56);
}

.enter-amount{
    width: 55%;
    margin: 0 auto;
    border: 0 solid white;
}

.enter-amount input {
    width: 100%;
}