body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.heading {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    background-position: center;
    margin: unset;
    height: 70%;
    width: 100%;

}

.title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: 900;
}

h3 {
    font-size: 30px;
}

.title p {
    margin-bottom: 4em;
}

.button {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(214, 61, 34);
    padding: 20px;
    border-radius: 4px;
}

.donate-now {
    text-align: center;
    width: 50%;
    margin: 40px auto;

}

.amounts {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.amount {
    width: 12%;
    border: 1px solid rgb(214, 213, 213);
    background-color: rgb(232, 240, 240);
    color: rgb(56, 56, 56);
    margin: 10px;
    border-radius: 5px;
    padding: 10px 0;
}

.selected {
    background-color: #ff480080;
    border: 2px solid orangered;
    color: rgb(204, 72, 20);
    text-align: center;
}

.amount h3 {
    text-align: center;
}

.enter-amount {
    width: 55%;
    margin: 0 auto;
    border: 0 solid white;
}

.enter-amount input {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
}

.donate-amount a {
    margin-top: 50px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(214, 61, 34);
    padding: 20px;
    border-radius: 4px;
    width: 50%;
}

section .donate-plan {
    display: flex;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
}
section .plan-heading{
    width: 40%;
    margin: 20px auto;
    text-align: center;
}
section .donate-plan-parts{
    margin: 10px;
    padding: 30px 50px 50px 30px;
    border-radius: 8px;
    width: 30%;
}
section .donate-plan #plan-part1{
    background-color: antiquewhite;
}
section .donate-plan #plan-part2{
    background-color: rgb(250, 215, 242);
}
section .donate-plan #plan-part3{
    background-color: rgb(215, 215, 250);
}
.updates .email-plus-button{
    text-align: center;
    background-color: rgb(245, 216, 179);
    padding: 50px;
    width: 60%;
    margin: 0 auto;

}
.updates .email-plus-button input{
    width: 30%;
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: rgb(223, 217, 217);
    border: none;
    border-radius: 8px;
}
.updates .email-plus-button a{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(214, 61, 34);
    padding: 18px;
    border-radius: 8px;
    margin: 0;
}